* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* BEM CSS: __:child, --:modify */
.header {
  background-color: #4e2a84;
}
.header__content {
  max-width: 80%;
  margin: 0 auto;
}

.header__content a {
  color: #ffffff;
  text-decoration: none;
}
.header__content > a {
  font-size: 35px;
  font-weight: 600;
}
.header__content__navbar a {
  font-size: 14px;
  font-weight: 600;
  margin-right: 15px;
}
.header__content__navbar a:hover {
  color: #ff0e83;
}
/* flexbox */
.header__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* Carousel */
.carousel {
  background-image: url(../images/b3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__content p {
  color: #ffffff;
  font-size: 50px;
  font-weight: 600;
}
.carousel__content span {
  color: #ffffff;
  font-size: 17px;
  display: block;
  font-weight: 600;
  margin: 20px 0;
}
.carousel__content button {
  background-color: #ff0e83;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
}
/* Grid */
.intro {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
}
.intro__item{
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
}
.intro__item p{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
}
.intro__item span{
  display: inline-block;
  padding: 0 30px;
}
.intro__item--1{
  background-color: #4e2a84;
}
.intro__item--2 {
  grid-column: 2 / span 2;
}
.intro__item--3{
  background-color: #ff0383;
}
.intro__item--4 {
  grid-column: 1 / span 2;
  background-color: #ed6498;
}
.intro__item--6{
  background-color: #836eea;
}
.intro__item--7{
  background-color: #4e2a84;
}
.intro__item--8{
  background-color: #4e2a84;
}
.intro__item--9 {
  grid-column: 3 / span 2;
}
.intro img {
  max-width: 100%;
  display: block;
}

.statistic__list {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.statistic__list__item {
  text-align: center;
}
.statistic__list__item p {
  padding: 0 50px;
  margin: 30px 0;
  font-size: 20px;
  font-weight: 700;
}
.statistic__list__item p:first-child {
  color: #603f8a;
}
.video {
  max-width: 1200px;
  margin: 0 auto;
}
.video__list {
  display: flex;
  margin: 0 -10px;
}
.video__item {
  width: 50%;
  padding: 0 10px;
}
.video__item video,
.video__item iframe {
  width: 100%;
  height: 400px;
}
.team {
  background-color: #4e2a84;
}
.team__content {
  max-width: 1200px;
  margin: auto;
  padding-top: 30px;
}
.team__content > h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 30px;
}
.team__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.team__col {
  width: calc(100% / 3);
  padding: 0 15px;
}
.team__item {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}
.team__item img {
  width: 100%;
  display: block;
}
.team__item__info {
  background-color: #ff0e83;
  color: #ffffff;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.team__item__info p {
  font-size: 20px;
  margin-bottom: 5px;
}

.team__item__overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0 , 0, 0.7);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.team__item__overlay p:first-child{
  color: #ff0383;
  font-size: 25px;
  font-weight: 600;
}
.team__item__overlay span{
  color: #ffffff;
  display: block;
  margin: 10px 0;
}
.team__item__overlay p{
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
}
.team__item__social i{
  color: #ffffff;
  border: 1px solid #ffffff;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-right: 5px;
  margin-top: 10px;
}
.team__item__social i:hover{
  color: #ff0383;
  border-color: #ff0383;
  transition: all 0.5s ease;
}
}
.team__item--1 .team__item__overlay{
  opacity: 0;
  visibility: hidden;
}
.team__item--1:hover .team__item__overlay{
  opacity: 1;
  visibility: visible;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
.team__item:hover .team__item__info{
  display: none;
}

.team__item--2 .team__item__overlay{
  /* top: -100%; */
  transform:translate(0, -100%);
}
.team__item--2:hover .team__item__overlay{
  /* top: 0; */
  transform: translate(0,0);
  transition: all 0.3s linear;
}
.team__item--3 .team__item__overlay{
  transform: scale(0,0);
}
.team__item--3:hover .team__item__overlay{
  transform: scale(1,1);
  transition: all 0.3s linear;
}
.team__item--4 .team__item__overlay{
  opacity: 0;
  visibility: hidden;
}
.team__item--4:hover .team__item__overlay{
  opacity: 1;
  visibility: visible;
  transform: rotate(360deg);
  transition: all 0.3s linear;
}
.team__item--5 .team__item__overlay{
  transform: scale(0,0);
}
.team__item--5:hover .team__item__overlay{
  transform: scale(1,1) rotate(360deg);
  transition: all 0.3s linear;
}
.contact > h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  margin: 25px 0;
}
.contact__form {
  max-width: 1200px;
  margin: 20px auto;
}
.contact__form form {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.contact__form__col {
  width: 100%;
  padding: 0 15px;
}
.w-50 {
  width: 50%;
}
.contact__form__col input[type="text"],
.contact__form__col input[type="email"],
.contact__form__col select,
.contact__form__col textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
}
.contact__form__col button {
  display: block;
  width: 100%;
  background-color: #ff0e83;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}
.contact iframe{
  width: 100%;
  height: 250px;
}

.contact__list{
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.contact__list i{
  font-size: 30px;
  color: #4e2a84;
  padding: 20px;
}
.contact__list p{
  font-weight: 600;
}
.carousel__content {
  text-align: center;
  animation-name: bounce;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.demo{
  background-color: red;
  width: 800px;
  height: 600px;
  border-radius: 70px;
  position: relative;
}
.ball{
  width: 140px;
  height: 140px;
  background-color:black;
  border-radius: 50%;
  position: absolute;
  top:0;
  left: 0;
  animation: ball 5s linear infinite;
} 
.ball:hover{
 animation-play-state: paused; 
}
@keyframes ball{
  0%{
    top: 0;
    left: 0;
  }
  25%{
    left: 0;
    top: calc(100% - 140px);
  }
  50%{
    top: calc(100% - 140px);
    left: calc(100%  - 140px);
  }
  75%{
    top:0;
    left: calc(100% - 140px);
  }
  100%{
    top: 0;
    left: 0;
  }
}

@keyframes bounce{
  0%{
    transform: translate(0,-300px);
    opacity: 0;
  }
  70%{
    transform: translate(0, 100px);
    opacity: 0.7;
  }
  100%{
    transform: translate(0,0);
    opacity: 1;
  }
}